1. Create a variable age and assign it the value 25

In [6]:
age = 24

24

2. Create a variable name and assign it a string containing your name

In [7]:
name = "Jyothish Ajayakumar"

3. Print the type of the variable age

In [8]:
print(type(age))

<class 'int'>

4. Convert the variable age to a string and store it in a new variable age_str.

In [10]:
str_age = str(age)

5. Create a variable height and assign it the value 175.5 (floating-point number).

In [12]:
height = 24.5

6. Print the type of the variable height.

In [13]:
print(type(height))

<class 'float'>

7. Create a variable is_student and assign it a boolean value representing whether you
are a student or not.

In [15]:
is_student = True

8. Print the type of the variable is_student.

In [16]:
print(type(is_student))

<class 'bool'>

9. Create a list colors containing the names of three colors.

In [17]:
colors = ["Black", "Red", "Green"]

10. Print the second element of the list colors

In [18]:
print(colors[1])

Red

11. Create a tuple dimensions containing the length, width, and height of a box.

In [20]:
dimensions = (20, 10, 5)

12. Print the third element of the tuple dimensions.

In [21]:
print(dimensions[2])

5

13. Create a dictionary person with keys "name", "age", and "city", and assign appropriate
values.

In [23]:
person = {"name": "DBS", "age": 2024, "city": "Dublin"}

14. Print the value associated with the key "age" in the dictionary person.

In [24]:
print(person["age"])

2024

15. Create a set unique_numbers containing three unique integers.

In [25]:
unique_numbers = {4, 2, 19}

16. Add a new integer to the set unique_numbers

In [26]:
unique_numbers.add(2024)

In [27]:
print(unique_numbers)

{2024, 2, 19, 4}

17. Create a variable x and assign it the value 10

In [28]:
x = 10

18. Increment the value of x by 5

In [29]:
x += 5

In [30]:
print(x)

15

19. Create a variable y and assign it the value of x squared.

In [31]:
y = x ** 2

In [32]:
print (y)

225

20. Swap the values of variables x and y.

In [33]:
x, y = y, x

In [34]:
print (x)
print (y)

225
15